// 颜色规范定义
// $color-theme = #928ffa
$color-theme = #2ddae8
$color-theme-l = #afadfe
$color-theme-ll = #daddef

$color-text = #303133
$color-text-l = #606266
$color-text-ll = #909399
$color-text-lll = #C0C4CC

$color-border = #DCDFE6
$color-border-l = #e4e7ed
$color-border-ll = #ebeef5
$color-border-lll = #f2f6fc

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
$font-size-large-xx = 30px